# Intellij specific
.idea
full/node_modules
full/ecr-auth-edge.json
full/legal-entity-edge.json
full/qvi-edge.json
full/config/multi-sig-delegated-incept-config.json
full/config/multi-sig-incept-config.json
full/data/ecr-auth-edge.json
full/data/ecr-data.json
full/data/legal-entity-data.json
full/data/legal-entity-edge.json
full/data/oor-auth-data.json
full/data/oor-auth-edge.json
full/data/oor-data.json
full/data/qvi-cred-data.json
full/data/qvi-edge.json
full/signify_qvi/qvi_data/le-cred-info.json
full/signify_qvi/qvi_data/qars-and-person-info.json
full/signify_qvi/qvi_data/qvi-client-info.json
full/signify_qvi/qvi_data/qvi-multisig-info.json
full/signify_qvi/qvi_data/qvi-oobi.json
full/signify_qvi/qvi_data/qvi-registry-info.json